<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hex to base4</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label>HEX</label>
        <input type="text" name="txthex"><br>
        <label>BASE64</label>
        <input type="text" name="txtbase64" value="{{ data }}">
        <br>
        <input type="submit" name="btnconvert" value="Convert">
        <br><br>
        <h5>Tách chuỗi</h5>
        <br>
        <label>Chuỗi cần cắt</label>
        <input type="text" name="txtstring"><br>
        <label>Cắt</label>
        <input type="text" name="txtcut" >
        <br>
        <label>Kết quả</label>
        <input type="text" name="txtketqua" value="{{ ketqua }}">
        <br>
        <input type="submit" name="btncut" value="Cut">

    </form>
</body>
</html>